 @import 'https://fonts.googleapis.com/css?family=Reem+Kufi';

html, body {
	margin:0;
	padding:0;
	border:0;
	height:100%;
	overflow:auto;
	background-image: url('../assets/bg.jpg');
	background-position:center top;
	min-width:500px;

	font-family: 'Reem Kufi', sans-serif;
}

h1, h2, h3, h4, h5, h6, #login_container {

}

em {
	font-weight:bold;
}

a, a:hover, a:visited {
	color: #3c9dbe;
}

a:hover {
	text-decoration: underline;
}

a, a:visited{
	text-decoration: none;
}

/* HEADER / HEADING */

header {
	height:50px;
	width:100%;
	background-color:#333;
	color:#fff;
	font-family: "Helvetica", sans-serif;
	font-size:15px;
	box-shadow: 0 0 10px #000;
	position:fixed;
	z-index: 3;
}

header .selected {
	background:#aaa;
}

header * {
	display:inline-block;
	height:100%;
	line-height: 50px;
}

header ul>li {
	display:inline-block;
	height:100%;
}

header a, header a:visited, header a:hover {
	display:block;
	color:#fff;
}

header a, #hello {
	padding: 0 20px;
}

header ul>li a:hover {
	background-color:#888;
	text-decoration: none;
}

#nav span {
	padding-right:7px;
}

#user {
	float:right;
	cursor:pointer;
}

#user:hover {
	background-color:#888;
}

#header {
	background-image: url('../assets/portal.png');
	background-position: right bottom;
	background-size:contain;
	background-repeat:no-repeat;
	height:200px;
	max-width:85%;
	margin:auto;
	color:#fff;
	position:relative;
	margin-top:50px;
}

#header.resources {
	background-image: url('../assets/resources.png');
}

#header.lessons {
	background-image: url('../assets/lessons.png');
}

#header>h1 {
	font-size:5.5vw;
	position:absolute;
	bottom:1vh;
	left:1vw;
	text-shadow: 0 0 10px #333;
}

#user_flyout {
	display:none;
	font-family: "Helvetica", sans-serif;
	background:#fff;
	min-width:280px;
	position:absolute;
	top:50px;
	right:0;
	z-index:2;
	border:1px solid #888;
}

#user_flyout .top {
	padding:10px;
}

#user_flyout .name {
	font-weight:bold;
}

#user_flyout .sub {
	color:#aaa;
	font-size:13px;
}

#user_flyout #icon {
	float:left;
	padding:0 15px 0 5px;
	color:#aaa;
}

#user_flyout ul {
	width: 100%;
	display:block;
	clear:both;
	list-style-type: none;
}

#user_flyout ul li {
	height:40px;
	line-height:30px;
}

#user_flyout ul li a {
	display:block;
	padding:2.5px 15px;
}

#user_flyout ul li a:hover {
	text-decoration: none;
}

#user_flyout ul li a span {
	padding-right: 6px;
}

#user_flyout ul li:hover {
	background:#eee;
}

/* PORTAL */



#page-container h1 {
	border-bottom:4px dashed #333;
}

#page-container h1:not(:first-child) {
	margin-top:30px;
}

#page-container .avg {
	margin: 4px 0;
}

#page-container{
	margin:auto;
	max-width:85%;
	min-width:900px;
	background:#fff;
	padding:20px;

	box-shadow: 0 0 20px #000;
	margin-bottom:30px;
}

.fa-check-circle {
	color:green;
}

.fa-times-circle {
	color: crimson;
}

td:nth-child(5), td:nth-child(4) {
	text-align:center;
}

.turn-in {
	font-size:13px;
	margin-top:-5px;
}

table {
	width:100%;
	border-collapse: collapse;
	box-shadow: 0 0 5px #e0e0e0;
}

th, td {
	border: 1px solid #fff;
}

thead {
	background-color:#de644d;
	color:#fff;
}

tbody tr {
	height:50px;
	background-color:#f8f8f8;
}

tbody tr:nth-child(2n) {
	background-color:#ececec;
}

tbody td {
	padding:0 5px;
}

.today {
	background-color:#ffffe0 !important;
}

.overdue {
	color: crimson;
	background-color: #ffe5e5 !important;
}

.time_left {
	font-weight:bold;
}

.description {
	display:none;
	position:absolute;
	color: #9f6000;
	background-color: #feefb3;
	border:1px solid #9f6000;
	padding:2px;
	z-index: 2;
}

.avg {
	float:right;
}

.trimester_display {
	display:none;
}

.trimester_display.selected {
	display:block;
}

#trimester_selections {
	float:right;
}

#trimester_selections.lessons {
	float:none;
	width:100%;
	text-align:center;
	margin-bottom:15px;
}

.trimester_select {
	display:inline-block;
	width:50px;
	text-align:center;
	cursor:pointer;
	font-weight:normal;
	font-size:14pt;
	margin-left: 3px;
	background-color:#f8f8f8;
	box-shadow: 0 0 5px #e0e0e0;
	border:1px solid #fff;
}

.trimester_select:hover {
	font-weight:bold;
}

.trimester_select.selected {
	background-color:#de644d;
	color:#fff;
}

.honors {
	color:#0089d0;
}

/* Optional AP colors
.honors > span:nth-child(1) {
	color:#074166;
}

.honors > span:nth-child(2) {
	color:#72c367;
}*/

/* LOGIN */

#login-container {
	position:absolute;
	top:20px;
	bottom:20px;
	left:0;
	right:0;
	/*width:100%;
	height:auto;
	max-width:900px;*/
}

#message {
	margin-bottom:20px;
	border:1px solid #9f6000;
	padding:2px;
	text-align:left;
	font-family: "Helvetica", sans-serif;
	font-size:13px;
	line-height:20px;
	font-weight:bold;
	text-transform: none;
	padding:10px;
	color:crimson;
	background-color:#ffe5e5;
}

.fullscreen-box {
	width:90%;
	height:60%;
	max-width:500px;
	max-height:500px;
	margin:auto;
}

#login {
	text-align:center;
	line-height:50px;
	text-transform:uppercase;

}

#login>div {
	background:#fff;
	padding:20px;
	box-shadow: 0 0 20px #000;
}

#jake {
	height:40%;
	width:90%;
	max-width:900px;
	max-height:500px;
	min-width:500px;
	min-height:150px;
	background-image: url('../assets/keyhand_final.png');
	background-size:contain;
	background-repeat:no-repeat;
	background-position:center top;
	margin:auto;
	z-index: 2;
	position:relative;
}

form input {
	display:block;
    font-family: 'Reem Kufi', sans-serif;
    padding:15px;
    width:100%;
    background:#ececec;
    color:#111;
    border:0;
    font-size:20px;
    margin-bottom:20px;
    box-sizing: border-box;
}

.submit {
	display:block;
    font-family: 'Reem Kufi', sans-serif;
    padding:15px;
    width:100%;
    background:#de644d;
    text-align:center;
    margin:0;
    color:#111;
    font-size:20px;
    box-sizing: border-box;
    border:0;
    cursor:pointer;
}

.login-helper-box {
	border:1px solid #9f6000;
	padding:2px;
	z-index: 2;
	text-align:left;
	font-family: "Helvetica", sans-serif;
	font-size:13px;
	line-height:20px;
	text-transform: none;
	padding:10px;
	
	display: none;
	width:300px;
}

#tips {
	position:absolute;
	left:0;
	bottom:60px;

	color: #9f6000;
	background-color: #feefb3;
}

#tips ul {
	list-style-type: none;
	margin:0;
	padding-left:24px;
}

#tips li:before {
	content: "\f00c"; /* FontAwesome Unicode */
	font-family: FontAwesome;
	display: inline-block;
	margin-left: -1.3em; /* same as padding-left set on li */
	width: 1.3em; /* same as padding-left set on li */
}

#tips.error {
	color:crimson;
	background-color:#ffe5e5;
	font-weight: bold;
}

input.error{
	background-color:#ffe5e5;
	color:crimson;
}

#match {
	position:absolute;
	left:0;
	top:60px;

	color:crimson;
	background-color:#ffe5e5;
	font-weight:bold;
}

#match.error{
	display:block;
}

/* REPORT PAGE */

pre {
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
pre#data {
	padding:15px;
	background-color:#333;
	color:#fff;
	border:3px dashed #aaa;
}

#big-back {
	display:block;
    padding:15px;
    width:100%;
    background:#de644d;
    text-align:center;
    color:#111;
    font-size:20px;
    box-sizing: border-box;
}

#big-back.top {
    margin-bottom:30px;
}

#big-back.bottom {
    margin-top:30px;
}

#big-back:hover {
	text-decoration: none;
}

/* HANDIN */
form #collab-statement {
	line-height:30px;
    background:#ececec;
    color:#111;
    width:100%;
    padding:15px;
    margin-bottom:20px;
}

#collab-statement input, 
#collab-statement label {
	display:inline-block;
	vertical-align: middle;
}

#collab-statement input {
	width:5%;
	padding:0 15px;
	margin:0;
}

#collab-statement label {
	width:95%;
	margin:0;
}

#instructions h1, #instructions h2, #instructions h3 {
	margin:10px 0;
}

#instructions h1 + div {
	padding-left:20px;
}

#instructions h2 + div {
	padding-left: 20px;
	font-family: "Helvetica", sans-serif;
}

#instructions ul, ol {
	padding-left:25px;
}
#instructions p{
	margin:10px 0;
}

#submit.disabled {
	background-color:#ececec;
	cursor:default;
	color:#ccc;
}

#f_handin {
	margin-top:40px;
	position:relative;
	height:220px;
}

.receipt {
	margin-top:25px;
}

/* LESSONS PAGE */

.lessons td {
	text-align:left;
}

.lessons td:first-child {
	font-weight:bold;
	text-align:center;
}

.lessons td:nth-child(4), .lessons td:nth-child(5) {
	text-align:center;
}

/* RESOURCES PAGE */
#container2 {
	clear:left;
	float:left;
	width:100%;
	overflow:hidden;
	font-size: 18px;
}
#container1 {
	float:left;
	width:100%;
	position:relative;
	right:50%;
}
#col1 {
	float:left;
	width:48%;
	position:relative;
	left:50%;
	overflow:hidden;
}
#col2 {
	float:left;
	width:50%;
	position:relative;
	left:52%;
	overflow:hidden;
}

#container2 ul {
	list-style-type: none;
	padding-left: 20px;
	padding-top:15px;
}

#container2 ul li span {
	padding-right:7px;
}

#hours {
	text-align:center;
}

#hours p, #hours h1 {
	text-align: left;
}

div.resources_content {
	padding:20px;
}

div.resources_content p {
	margin-top:5px;
}

div.notice {
	margin-top:20px;
	border:1px solid #9f6000;
	text-align:left;
	font-family: "Helvetica", sans-serif;
	font-size:13px;
	line-height:20px;
	text-transform: none;
	padding:10px;
	
	color: #9f6000;
	background-color: #feefb3;
}

#hours iframe {
	margin-top:15px;
}
