<!doctype html>

<html lang="en">
<head>
	<meta charset="utf-8">

	<title>Error :: CS Principles Mystery Shack Edition</title>

	<link rel="stylesheet" href="/css/style.css">
	<link rel="stylesheet" href="/css/ribbon.css">
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
	<link rel="shortcut icon" href="/assets/favicon.ico" />

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script> 

</head>

<body>
	{{#user}}
	<header>
		<div id="nav">
			<ul>
				<li class="selected"><a href="/portal"><span class="fa fa-graduation-cap"></span>Assignments &amp; Grades</a></li>
				<li><a href="/lessons"><span class="fa fa-pencil"></span>Lessons</a></li>
				<li><a href="/resources"><span class="fa fa-question"></span>Resources &amp; TA Hours</a></li>
				{{#user.access_backend}}<li><a href="/admin"><span class="fa fa-wrench"></span>Portal Admin</a></li>{{/user.access_backend}}
			</ul>
		</div>
		<div id="user">
			<span id="hello"><span id="greeting">Hello</span>, {{user.username}}!</span>
		</div>
	</header>

	<div id="user_flyout">
		<div class="top">
			<div id="icon" class="fa fa-user fa-4x"></div>
			<p class="name">{{user.first_name}} {{user.last_name}}</p>
			<p class="sub">{{user.role}}</p>
			{{#user.class_membership}}<p class="sub">Period {{user.class_pd}} / Grade {{user.year}}</p>{{/user.class_membership}}
			{{^user.class_membership}}<p class="sub">{{user.email}}</p>{{/user.class_membership}}
		</div>
		<ul>
			<li><a href="/password"><span class="fa fa-key"></span> Change Password</a></li>
			<li><a href="/logout"><span class="fa fa-sign-out"></span> Log Out</a></li>
		</ul>
	</div>
	{{/user}}


	<div id="header" class="lessons"><h1>Error</h1></div>

	<div id="page-container">
		<div id="message">{{error}}</div>
		{{#user}}<a id="big-back" class="bottom" href="/portal"><span class="fa fa-arrow-circle-left"></span> Take Me Somewhere Useful</a>{{/user}}
	</div>

	<script src="/js/global.js"></script>

</body>
</html>
