<!doctype html>

<html lang="en">
<head>
	<meta charset="utf-8">

	<title>Turn In Assignment :: CS Principles Mystery Shack Edition</title>

	<link rel="stylesheet" href="/css/style.css">
	<link rel="stylesheet" href="/css/ribbon.css">
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
	<link rel="shortcut icon" href="/assets/favicon.ico" />

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script> 

</head>

<body>
	<header>
		<div id="nav">
			<ul>
				<li class="selected"><a href="/portal"><span class="fa fa-graduation-cap"></span>Assignments &amp; Grades</a></li>
				<li><a href="/lessons"><span class="fa fa-pencil"></span>Lessons</a></li>
				<li><a href="/resources"><span class="fa fa-question"></span>Resources &amp; TA Hours</a></li>
				{{#user.access_backend}}<li><a href="/admin"><span class="fa fa-wrench"></span>Portal Admin</a></li>{{/user.access_backend}}
			</ul>
		</div>
		<div id="user">
			<span id="hello"><span id="greeting">Hello</span>, {{user.username}}!</span>
		</div>
	</header>

	<div id="user_flyout">
		<div class="top">
			<div id="icon" class="fa fa-user fa-4x"></div>
			<p class="name">{{user.first_name}} {{user.last_name}}</p>
			<p class="sub">{{user.role}}</p>
			{{#user.class_membership}}<p class="sub">Period {{user.class_pd}} / Grade {{user.year}}</p>{{/user.class_membership}}
			{{^user.class_membership}}<p class="sub">{{user.email}}</p>{{/user.class_membership}}
		</div>
		<ul>
			<li><a href="/password"><span class="fa fa-key"></span> Change Password</a></li>
			<li><a href="/logout"><span class="fa fa-sign-out"></span> Log Out</a></li>
		</ul>
	</div>


	<div id="header"><h1>Turn In</h1></div>

	<div id="page-container">
		{{#message}}<div id="message">{{{message}}}</div>{{/message}}

		<h1>{{asgn_name}}</h1>
			<table class="receipt">
				<tr>
					<td>Assignment Description</td>
					<td>{{{description}}}</td>
				</tr>
				<tr>
					<td>Due Date</td>
					<td>{{date_due}}</td>
				</tr>
				<tr>
					<td>On Time?</td>
					<td{{#late}} class="overlay"{{/late}}>{{#late}}<span class="fa fa-times-circle"></span> {{late}} day(s) late (rounded up){{/late}}{{^late}}<span class="fa fa-check-circle"></span>{{/late}}
					<div class="description">Is this wrong? Contact your instructor.</div></td>
				</tr>
			</table>


		<h1>Submission{{#format}}: {{name}}{{/format}}</h1>
		<form action="/handin/{{asgn_id}}" enctype="multipart/form-data" method="post" id="f_handin">
			<input type="hidden" name="post" value="1" />

			{{#format}}
				<div style="margin-bottom:10px;">{{{description}}}</div>
				{{#is_file}}
				<div>
					<p>This assignment requires you to turn in <em>files</em>. Follow these instructions:</p>
					<ol style="margin-bottom:10px;">
						<li>Identify and locate the files you need to turn in for this assignment. If in doubt, check the assignment or slides again for an explanation.</li>
						<li>Click the "Browse..." button and select all the files you need to turn in. Hold down the CONTROL (COMMAND on Mac) key while clicking on files to select multiple files.</li>
						<li>Verify you have included all necessary, agree to the Collaboration Statement, then press submit. <em>Make sure the receipt on the next page lists all the files you needed to turn in.</em></li>
						<li><em>Limits:</em> You may turn in no more than 10MB total for any assignment, and no more than 100 individual files per assignment.</li>
					</ol>
					<input type="file" id="handin" name="handin" multiple />
				</div>
				{{/is_file}}

				{{^is_file}}
				<div>
					<p>Paste your submission into the box below:</p>
					<input type="text" id="handin" name="submission" />
				</div>
				{{/is_file}}

				{{#readme_required}}
				<h2>README</h2>
					<div>
						<p>This assignment requires a README. A README should include:</p>
						<ul>
							<li>A list of the students/groups with whom you collaborated in any way on this assignment (<em>Be honest!</em> Failure to disclose this information is a violation of the Collaboration Policy.)</li>
							<li>Any extra information mentioned in the assignment.</li>
							<li>(If code:) A description of any possible bugs or problems with your program (rest assured, you will lose fewer points for documented bugs than undocumented ones).</li>
							<li>(If code:) Any special instructions required to run your project.</li>
							<li>(If code:) A description of any extra features you chose to implement.</li>
						</ul>
					</div>

				<textarea id="readme" name="readme"></textarea>
				{{/readme_required}}
			{{/format}}

			<div id="collab-statement">
				<input type="checkbox" id="collab" name="collab" value="collab" /><label for="collab">I have followed the course <a href="/policies.pdf" target="_blank">Collaboration Policy</a>; have not copied any of my work; and have cited the names of students with whom I collaborated in my submission.</label>
			</div>
				
			<input id="submit" class="submit disabled" type="submit" value="Turn In Now" disabled>
		</form>

	</div>

	<script src="/js/handin.js"></script>
	<script src="/js/portal.js"></script>
	<script src="/js/global.js"></script>

</body>
</html>
