<!doctype html>

<html lang="en">
<head>
	<meta charset="utf-8">

	<title>Lessons :: CS Principles Mystery Shack Edition</title>

	<link rel="stylesheet" href="/css/style.css">
	<link rel="stylesheet" href="/css/ribbon.css">
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
	<link rel="shortcut icon" href="/assets/favicon.ico" />

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script> 

</head>

<body>
	<header>
		<div id="nav">
			<ul>
				<li><a href="/portal"><span class="fa fa-graduation-cap"></span>Assignments &amp; Grades</a></li>
				<li class="selected"><a href="/lessons"><span class="fa fa-pencil"></span>Lessons</a></li>
				<li><a href="/resources"><span class="fa fa-question"></span>Resources &amp; TA Hours</a></li>
				{{#user.access_backend}}<li><a href="/admin"><span class="fa fa-wrench"></span>Portal Admin</a></li>{{/user.access_backend}}
			</ul>
		</div>
		<div id="user">
			<span id="hello"><span id="greeting">Hello</span>, {{user.username}}!</span>
		</div>
	</header>

	<div id="user_flyout">
		<div class="top">
			<div id="icon" class="fa fa-user fa-4x"></div>
			<p class="name">{{user.first_name}} {{user.last_name}}</p>
			<p class="sub">{{user.email}}</p>
			<p class="sub">Period {{user.class_pd}} / Grade {{user.year}}</p>
		</div>
		<ul>
			<li><a href="/password"><span class="fa fa-key"></span> Change Password</a></li>
			<li><a href="/logout"><span class="fa fa-sign-out"></span> Log Out</a></li>
		</ul>
	</div>


	<div id="header" class="lessons"><h1>Lessons</h1></div>

	{{^user.class_membership}}<div id="viewmode">
	<span>{{user.role}} Mode:</span> Viewing section {{user.class_pd}}. 
	<div class="selections">
		<span>Switch Section:</span>
		{{#sections}}
			<a href="/portal/{{class_pd}}" id="section_{{class_pd}}" class="section select{{#current}} selected{{/current}}">{{class_pd}}</a>
		{{/sections}}
	</div>
	</div>{{/user.class_membership}} 
	<div id="page-container">
		<div class="selections lessons">
			{{#trimesters}}
				<span id="{{name}}" class="trimester select{{#current}} selected{{/current}}">S{{name}}</span>
			{{/trimesters}}
		</div>
		{{#trimesters}}
		<div class="trimester_display{{#current}} selected{{/current}}" id="{{name}}_display">
		<table class="lessons">
			<thead>
				<th>#</th>
				<th>Topic</th>
				<th>Date</th>
				<th>Slides</th>
				<th>Extra</th>
			</thead>
			<tbody>
			{{#lessons}}
				<tr>
					<td>{{number}}</td>
					<td>{{topic}}</td>
					<td>{{released}}</td>
					<td>{{#slide_url}}<a href="{{slide_url}}" target="_blank"><span class="fa fa-external-link"></span></a>{{/slide_url}}</td>
					<td>{{#extra_url}}<a href="{{extra_url}}" target="_blank"><span class="fa fa-external-link"></span></a>{{/extra_url}}</td>
				</tr>
			{{/lessons}}
		</tbody>
		</table>
		</div>
		{{/trimesters}}
	</div>

	<script src="/js/global.js"></script>

</body>
</html>
