<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Log In :: CS Principles Mystery Shack Edition</title>

  <link rel="stylesheet" href="/css/style.css">
  <link rel="shortcut icon" href="/assets/favicon.ico" />
</head>

<body>
		<div id="login-container">
			<div id="jake"></div>
			<div id="login" class="fullscreen-box">
				<div>
					<form method="post" action="/login">
						{{#message}}<div id="message">{{message}}</div>{{/message}}
						<input type="text" name="username" placeholder="Username" />
						<input type="password" name="password" placeholder="Password" />
						<input class="submit" type="submit" value="Log In" />
					</form>
				</div>
			</div>
		</div>
</body>
</html>
