<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Adventures in Computer Science :: Log In</title>

  <link rel="stylesheet" href="css/style.css">
</head>

<body>
		<div id="login-container">
			<div id="jake"></div>
			<div id="login" class="fullscreen-box">
				<div>
					<form>
						<div id="message">{{message}}</div>
						<input type="text" name="username" placeholder="Username">
						<input type="password" name="password" placeholder="Password">
						<button type="button">Login</button>
					</form>
				</div>
			</div>
		</div>
</body>
</html>