<!doctype html>

<html lang="en">
<head>
	<meta charset="utf-8">

	<title>Change Password :: CS Principles Mystery Shack Edition</title>

	<link rel="stylesheet" href="/css/style.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script> 
</head>

<body>
		<div id="login-container">
			<div id="jake"></div>
			<div id="login" class="fullscreen-box">
				<div>
					<form action="/password" method="post">
						{{#message}}<div id="message">{{message}}</div>{{/message}}
						<input type="password" id="current_password" name="current_password" placeholder="Current Password" />
						<div style="position:relative">
							<input type="password" style="position:relative" id="new_password" name="new_password" placeholder="New Password" />
							<div id="tips" class="login-helper-box">
								Stay safe out there! Ensure password:
								<ul>
									<li>is at least 6 characters long</li>
									<li>has at least one CAPITAL LETTER (A-Z)</li>
									<li>has at least one LOWERCASE LETTER (a-z)</li>
									<li>has at least one NUMBER (0-9)</li>
								</ul>
							</div>
						</div>

						<div style="position:relative">
							<input type="password" id="new_password_repeat" name="new_password_repeat" placeholder="New Password Again" />
							<div id="match" class="login-helper-box">
								Passwords must match!
							</div>
						</div>
						<input class="submit" type="submit" value="Change Password" />
					</form>
				</div>
			</div>
		</div>

		<script src="/js/password.js"></script>
</body>
</html>