<!doctype html>

<html lang="en">
<head>
	<meta charset="utf-8">

	<title>Resources :: Adventures in Computer Science</title>

	<link rel="stylesheet" href="/css/style.css">
	<link rel="stylesheet" href="/css/ribbon.css">
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script> 

</head>

<body>
	<header>
		<div id="nav">
			<ul>
				<li><a href="/portal"><span class="fa fa-graduation-cap"></span>Assignments &amp; Grades</a></li>
				<li><a href="/lessons"><span class="fa fa-pencil"></span>Lessons</a></li>
				<li class="selected"><a href="/resources"><span class="fa fa-question"></span>Help Resources</a></li>
			</ul>
		</div>
		<div id="user">
			<span id="hello"><span id="greeting">Hello</span>, {{user.username}}!</span>
		</div>
	</header>

	<div id="user_flyout">
		<div class="top">
			<div id="icon" class="fa fa-user fa-4x"></div>
			<p class="name">{{user.name}}</p>
			<p class="sub">{{user.email}}</p>
			<p class="sub">Period {{user.class_pd}} / Grade {{user.year}}</p>
		</div>
		<ul>
			<li><a href="/password"><span class="fa fa-key"></span> Change Password</a></li>
			<li><a href="/logout"><span class="fa fa-sign-out"></span> Log Out</a></li>
		</ul>
	</div>


	<div id="header" class="resources"><h1>Resources</h1></div>

	<div id="page-container">
		<div id="container2">
		<div id="container1">
			<div id="col1">
				<h1>Essential Links</h1>
				<ul>
					<li><a href="http://snap.berkeley.edu/">
						<span class="fa fa-external-link"></span> Berkeley Snap!
					</a></li>
				</ul>
			</div>

			<div id="col2">
				<h1>Course Documents</h1>
				<ul>
					<li><a href="http://csp.cs.stab.org/doc/syllabus.pdf">
						<span class="fa fa-external-link"></span> Syllabus &amp; Policies
					</a></li>
					<li><a href="http://csp.cs.stab.org/doc/collab.pdf">
						<span class="fa fa-external-link"></span> Collaboration Policy
					</a></li>
				</ul>
			</div>
		</div>
		</div>

		<div id="hours">
			<h1>Help Hours</h1>
			<div>
				<p>Both Mr. Minster and peer mentors (students who already have experience in computer science) are available often for help on assignments and with course content.</p>
				<p>You may always contact Mr. Minster to schedule a private appointment outside of these times.</p>
			</div>
			<iframe src="https://calendar.google.com/calendar/embed?title=CSP%20Open%20Help%20Hours&amp;mode=WEEK&amp;height=600&amp;wkst=1&amp;bgcolor=%23ffffff&amp;src=stab.org_1d5gei7e53qe2coe8b6t1i2nk0%40group.calendar.google.com&amp;color=%23B1440E&amp;ctz=America%2FNew_York" style="border-width:0; text-align:center" width="860" height="600" frameborder="0" scrolling="no"></iframe>
		</div>

		<h1>Coming Soon - FlowDock</h1>
	</div>

	<script src="/js/global.js"></script>

</body>
</html>